In [2]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.metrics import classification_report
from sklearn.linear_model import SGDClassifier
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix

In [6]:
data_set = pd.read_csv("/Users/kanato/Desktop/PBL2_coding/PBL2/data/dataset.csv")

In [7]:
data_set.head()

    area   perimeter  height  width  r_value  g_value  b_value  index  label
0  212.0   10.594112     251    142      204      156       21     11      1
1  219.5   11.656854     251    142      207      155       48     13      1
2  221.5   72.752900     251    319      215      158       39     12      1
3  252.5  102.667619     251    319      207      164       90     12      1
4  214.0  314.060546     251    319      220      153       51     13      1

In [9]:
X = data_set[['area','perimeter','height','height','width','r_value','g_value','b_value','index']] #'r_value',
X.head()

    area   perimeter  height  height  width  r_value  g_value  b_value  index
0  212.0   10.594112     251     251    142      204      156       21     11
1  219.5   11.656854     251     251    142      207      155       48     13
2  221.5   72.752900     251     251    319      215      158       39     12
3  252.5  102.667619     251     251    319      207      164       90     12
4  214.0  314.060546     251     251    319      220      153       51     13

In [11]:
y = data_set['label']

y.head()

0    1
1    1
2    1
3    1
4    1
Name: label, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [13]:
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [14]:
from sklearn import metrics

# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.27180232558139533